.btn {
  background: #4e74f5;
  border-radius: 100px;
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.4rem;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  outline: none;
  border: none;
  width: 17rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .loader {
    margin-right: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.7rem;
  }
}
